.navbar-theme{
    background-color:#5dc083,0.5;   
}
.w3-container{
<<<<<<< HEAD
    background-color:#5dc083,0.5;
}

nav {
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);
    font-size: 1rem;
  }
  
  nav .title {
    margin-left: auto;
    margin-right: auto;
  }

.w3-sidebar{
    float:inline-start;
    padding: 15px;
}

