

<nav class="navbar navbar-expand-lg navbar-theme">
        <ul class="navbar-header d-flex col">
                <img src="../../../assets/images/thefrontline.png" width="130" height="130"  >        
        </ul>

<ul class="nav navbar-nav navbar-right ml-auto">
<form class="form-inline my-2 my-lg-0">
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Theme 1</a>
          <a class="dropdown-item" href="#">Theme 2</a>
          <a class="dropdown-item" href="#">Theme 3</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Report a user</a>
        </div>
</li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Sort" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Most Recent</a>
                <a class="dropdown-item" href="#">Followers</a>
                <a class="dropdown-item" href="#">Date</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other</a>

                
        </div>
</li>
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

</ul>
  <h1 (click)="toggleTheme()">theme</h1>
</nav>
<br>
<!-- Left Nav-->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">User Profile</h3>
        <a class="round-circle"></a>
        <img src="https://i.imgur.com/ITsgIeg.jpg" class="rounded-circle img-thumbnail" alt="Cinque Terre">


</div>

<!-- Right Nav-->
<div class="w3-sidebar w3-light-grey  w3-bar-block" style="width:25%;right:0">
        <h3 class="w3-bar-item">Weather </h3>           
 </div>



      <!-- Page Content -->
      <div style="margin-left:25%">
      
      <div class="w3-container ">
        <h1>Home Page</h1>
      </div>
      
      <div class="container posts">
      <h2>Posts</h2>
      <div class="postAdd">
        <div class="input-group mb-1" style="width:65%;height:10em" >
                <textarea id="newPost" type="text" class="form-control" placeholder="Add a post"></textarea>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="addPostButton">Post</button>
                  
                  
                </div>
              </div>
      </div>
      <div class="postShow"></div>
      </div>
      </div>
      
     